In [1]:
import pandas as pd

import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\Tanishqa Mahendru\Desktop\proj\heart.csv')

In [3]:
df.head(16)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1

In [5]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [7]:
df.age.replace(0, np.nan, inplace=True)

df.trestbps.replace(0, np.mean(df.trestbps), inplace=True)
df.chol.replace(0, np.mean(df.chol), inplace=True)
df = df.dropna()
from sklearn.utils import shuffle
df = shuffle(df)
df.head(20)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
26,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
172,58,1,1,120,284,0,0,160,0,1.8,1,0,2,0
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2,0
136,60,0,2,120,178,1,1,96,0,0.0,2,0,2,1
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2,1
44,39,1,2,140,321,0,0,182,0,0.0,2,0,2,1
55,52,1,1,134,201,0,1,158,0,0.8,2,1,2,1
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0
63,41,1,1,135,203,0,1,132,0,0.0,1,0,1,1
203,68,1,2,180,274,1,0,150,1,1.6,1,0,3,0
100,42,1,3,148,244,0,0,178,0,0.8,2,2,2,1
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
281,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
274,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
97,52,1,0,108,233,1,1,147,0,0.1,2,3,3,1
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1
248,54,1,1,192,283,0,0,195,0,0.0,2,1,3,0

In [8]:
import pandas as pd
from sklearn import preprocessing


min_max_scaler = preprocessing.MinMaxScaler()
columns_to_scale = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
df[columns_to_scale] = min_max_scaler.fit_transform(df[columns_to_scale])

In [9]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,0.528465,0.683168,0.966997,0.354941,0.274575,0.148515,0.528053,0.600358,0.326733,0.167678,1.399340,0.729373,2.313531,0.544554
std,0.189210,0.466011,1.032052,0.165454,0.118335,0.356198,0.525860,0.174849,0.469794,0.187270,0.616226,1.022606,0.612277,0.498835
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.385417,0.000000,0.000000,0.245283,0.194064,0.000000,0.000000,0.477099,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,0.541667,1.000000,1.000000,0.339623,0.260274,0.000000,1.000000,0.625954,0.000000,0.129032,1.000000,0.000000,2.000000,1.000000
75%,0.666667,1.000000,2.000000,0.433962,0.339041,0.000000,1.000000,0.725191,1.000000,0.258065,2.000000,1.000000,3.000000,1.000000
max,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,4.000000,3.000000,1.000000

In [10]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
26,0.625000,1,2,0.528302,0.196347,1,1,0.656489,0,0.258065,2,0,2,1
220,0.708333,0,0,0.528302,0.641553,0,0,0.633588,0,0.645161,1,3,3,0
296,0.708333,0,0,0.283019,0.162100,0,1,0.496183,1,0.000000,1,0,2,0
172,0.604167,1,1,0.245283,0.360731,0,0,0.679389,0,0.290323,1,0,2,0
165,0.791667,1,0,0.622642,0.365297,0,0,0.282443,1,0.241935,1,3,2,0

In [17]:
df.tail(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
290,0.666667,1,0,0.509434,0.175799,0,1,0.687023,0,0.000000,2,1,3,0
7,0.312500,1,1,0.245283,0.312785,0,1,0.778626,0,0.000000,2,0,3,1
28,0.750000,0,2,0.433962,0.664384,1,0,0.656489,0,0.129032,2,1,2,1
129,0.937500,0,1,0.245283,0.326484,0,0,0.381679,1,0.032258,2,1,2,1
163,0.187500,1,2,0.415094,0.111872,0,1,0.778626,0,0.000000,2,4,2,1
138,0.583333,1,0,0.150943,0.171233,0,1,0.419847,1,0.241935,1,0,1,1
73,0.458333,1,0,0.433962,0.308219,0,0,0.877863,1,0.000000,2,0,2,1
207,0.645833,0,0,0.528302,0.301370,0,0,0.656489,0,0.419355,1,2,3,0
71,0.458333,1,2,0.000000,0.230594,0,1,0.633588,1,0.000000,2,1,3,1
24,0.229167,1,3,0.433962,0.166667,0,1,0.816794,1,0.225806,2,0,3,1

In [11]:
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import to_categorical

Using TensorFlow backend.

In [12]:
predictors = df.drop('target', axis=1).as_matrix()
targett = to_categorical(df.target)
model = Sequential()
n_cols = predictors.shape[1]

c:\users\tanishqa mahendru\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
WARNING: Logging before flag parsing goes to stderr.
W1017 14:16:35.736690  4604 deprecation_wrapper.py:119] From c:\users\tanishqa mahendru\appdata\local\programs\python\python37\lib\site-packages\keras\backend\tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [13]:
model.add(Dense(100, activation='relu', input_shape=(n_cols,)))
model.add(Dense(100, activation='relu'))

model.add(Dense(2, activation='softmax'))

W1017 14:16:35.867697  4604 deprecation_wrapper.py:119] From c:\users\tanishqa mahendru\appdata\local\programs\python\python37\lib\site-packages\keras\backend\tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W1017 14:16:35.871698  4604 deprecation_wrapper.py:119] From c:\users\tanishqa mahendru\appdata\local\programs\python\python37\lib\site-packages\keras\backend\tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [14]:
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])
model.fit(predictors, targett, validation_split=0.25, epochs=37)

W1017 14:16:35.961703  4604 deprecation_wrapper.py:119] From c:\users\tanishqa mahendru\appdata\local\programs\python\python37\lib\site-packages\keras\optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W1017 14:16:35.987704  4604 deprecation_wrapper.py:119] From c:\users\tanishqa mahendru\appdata\local\programs\python\python37\lib\site-packages\keras\backend\tensorflow_backend.py:3576: The name tf.log is deprecated. Please use tf.math.log instead.

W1017 14:16:36.091711  4604 deprecation.py:323] From c:\users\tanishqa mahendru\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W1017 14:16:36.150714  4604 deprecation_wrapper.py:119] From c:\users\tanishqa mahendru\appdata\local\programs\python\python37\lib\site-packages\keras\backend\tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Train on 227 samples, validate on 76 samples
Epoch 1/37
227/227 [==============================] - 0s 819us/step - loss: 0.6946 - acc: 0.5110 - val_loss: 0.6851 - val_acc: 0.5658
Epoch 2/37
227/227 [==============================] - 0s 79us/step - loss: 0.6669 - acc: 0.6520 - val_loss: 0.6583 - val_acc: 0.6447
Epoch 3/37
227/227 [==============================] - 0s 84us/step - loss: 0.6469 - acc: 0.7048 - val_loss: 0.6330 - val_acc: 0.6842
Epoch 4/37
227/227 [==============================] - 0s 84us/step - loss: 0.6252 - acc: 0.7533 - val_loss: 0.6123 - val_acc: 0.7632
Epoch 5/37
227/227 [==============================] - 0s 84us/step - loss: 0.6061 - acc: 0.7841 - val_loss: 0.5941 - val_acc: 0.7500
Epoch 6/37
227/227 [==============================] - 0s 84us/step - loss: 0.5881 - acc: 0.7974 - val_loss: 0.5830 - val_acc: 0.7500
Epoch 7/37
227/227 [==============================] - 0s 88us/step - loss: 0.5716 - acc: 0.7885 - val_loss: 0.5729 - val_acc: 0.7368
Epoch 8/37
227/227 [==============================] - 0s 79us/step - loss: 0.5569 - acc: 0.8106 - val_loss: 0.5568 - val_acc: 0.7763
Epoch 9/37
227/227 [==============================] - 0s 84us/step - loss: 0.5452 - acc: 0.8062 - val_loss: 0.5386 - val_acc: 0.7632
Epoch 10/37
227/227 [==============================] - 0s 84us/step - loss: 0.5357 - acc: 0.8062 - val_loss: 0.5326 - val_acc: 0.7632
Epoch 11/37
227/227 [==============================] - 0s 88us/step - loss: 0.5243 - acc: 0.8150 - val_loss: 0.5272 - val_acc: 0.7632
Epoch 12/37
227/227 [==============================] - 0s 75us/step - loss: 0.5123 - acc: 0.8150 - val_loss: 0.5360 - val_acc: 0.7763
Epoch 13/37
227/227 [==============================] - 0s 97us/step - loss: 0.5044 - acc: 0.8150 - val_loss: 0.5179 - val_acc: 0.7368
Epoch 14/37
227/227 [==============================] - 0s 88us/step - loss: 0.4928 - acc: 0.8106 - val_loss: 0.5176 - val_acc: 0.7632
Epoch 15/37
227/227 [==============================] - 0s 79us/step - loss: 0.4869 - acc: 0.8106 - val_loss: 0.5046 - val_acc: 0.7500
Epoch 16/37
227/227 [==============================] - 0s 93us/step - loss: 0.4789 - acc: 0.8282 - val_loss: 0.5005 - val_acc: 0.7632
Epoch 17/37
227/227 [==============================] - 0s 97us/step - loss: 0.4727 - acc: 0.8194 - val_loss: 0.5250 - val_acc: 0.7763
Epoch 18/37
227/227 [==============================] - 0s 88us/step - loss: 0.4752 - acc: 0.8150 - val_loss: 0.4986 - val_acc: 0.7632
Epoch 19/37
227/227 [==============================] - 0s 88us/step - loss: 0.4617 - acc: 0.8106 - val_loss: 0.4908 - val_acc: 0.7632
Epoch 20/37
227/227 [==============================] - 0s 93us/step - loss: 0.4562 - acc: 0.8150 - val_loss: 0.4910 - val_acc: 0.7632
Epoch 21/37
227/227 [==============================] - 0s 79us/step - loss: 0.4507 - acc: 0.8106 - val_loss: 0.4799 - val_acc: 0.7632
Epoch 22/37
227/227 [==============================] - 0s 88us/step - loss: 0.4444 - acc: 0.8194 - val_loss: 0.4774 - val_acc: 0.7632
Epoch 23/37
227/227 [==============================] - 0s 75us/step - loss: 0.4405 - acc: 0.8282 - val_loss: 0.4816 - val_acc: 0.7500
Epoch 24/37
227/227 [==============================] - 0s 88us/step - loss: 0.4378 - acc: 0.8238 - val_loss: 0.4752 - val_acc: 0.7763
Epoch 25/37
227/227 [==============================] - 0s 93us/step - loss: 0.4337 - acc: 0.8150 - val_loss: 0.4716 - val_acc: 0.7763
Epoch 26/37
227/227 [==============================] - 0s 97us/step - loss: 0.4296 - acc: 0.8106 - val_loss: 0.4674 - val_acc: 0.7632
Epoch 27/37
227/227 [==============================] - 0s 97us/step - loss: 0.4247 - acc: 0.8194 - val_loss: 0.4620 - val_acc: 0.7763
Epoch 28/37
227/227 [==============================] - 0s 88us/step - loss: 0.4231 - acc: 0.8238 - val_loss: 0.4583 - val_acc: 0.7763
Epoch 29/37
227/227 [==============================] - 0s 101us/step - loss: 0.4190 - acc: 0.8282 - val_loss: 0.4565 - val_acc: 0.7763
Epoch 30/37
227/227 [==============================] - 0s 93us/step - loss: 0.4158 - acc: 0.8282 - val_loss: 0.4527 - val_acc: 0.7763
Epoch 31/37
227/227 [==============================] - 0s 93us/step - loss: 0.4125 - acc: 0.8458 - val_loss: 0.4587 - val_acc: 0.7763
Epoch 32/37
227/227 [==============================] - 0s 110us/step - loss: 0.4122 - acc: 0.8106 - val_loss: 0.4522 - val_acc: 0.7763
Epoch 33/37
227/227 [==============================] - 0s 97us/step - loss: 0.4090 - acc: 0.8282 - val_loss: 0.4507 - val_acc: 0.7763
Epoch 34/37
227/227 [==============================] - 0s 88us/step - loss: 0.4067 - acc: 0.8238 - val_loss: 0.4464 - val_acc: 0.7763
Epoch 35/37
227/227 [==============================] - 0s 93us/step - loss: 0.4051 - acc: 0.8370 - val_loss: 0.4493 - val_acc: 0.7763
Epoch 36/37
227/227 [==============================] - 0s 97us/step - loss: 0.4032 - acc: 0.8194 - val_loss: 0.4432 - val_acc: 0.7895
Epoch 37/37
227/227 [==============================] - 0s 84us/step - loss: 0.3995 - acc: 0.8370 - val_loss: 0.4423 - val_acc: 0.7763

In [18]:
pred = model.predict([[[0.645833,0,0,0.528302,0.301370,0,0,0.656489,0,0.419355,1,2,3]]])
print(pred)
print(np.argmax(pred))

[[0.9042379  0.09576209]]
0

In [19]:
pred = model.predict([[[0.750000,0,2,0.433962,0.664384,1,0,0.656489,0,0.129032,2,1,2]]])
print(pred)
print(np.argmax(pred))

[[0.17511459 0.8248854 ]]
1